@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

html {
	font-family: sans-serif;
}

body
{	
	background-color: #1e1b1a;
	margin: 0px auto 0 auto;
	width: 80%;
	text-align: center;
	font-size: 25px;
	color: white;
}

h1 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: #c72222;
	font-family: 'Amatic SC', cursive;
	margin: 0 0 20px 0;
	padding: 0;
}

.wrapper {
	border-radius: 13px 13px 13px 13px;
	-moz-border-radius: 13px 13px 13px 13px;
	-webkit-border-radius: 13px 13px 13px 13px;

	-webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 5px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 5px 3px 0px rgba(0, 0, 0, 0.3);

	border: 10px solid #c6c0b9;
	margin: 0 auto 0 auto;
	width: 800px;
	height: 512px;
}
